# backend files
backend/__pycache__/
backend/src/__pycache__/
backend/src/.ipynb_checkpoints/
backend/.env
backend/notebooks/.ipynb_checkpoints/
backend/data/

# Notebooks
backend/notebooks/

# Vitual env
venv/
.venv/

# VS Code files
.vscode/


